Christian Basso

Intro to Data Science

Lab 4: EDA with Statistical Testing

September 28th, 2023

# Lab 4: Exploratory Data Analysis (EDA) with Statistical Testing

## Introduction

Similar to lab 2, this program aims to see which variables are predictive of price and property type. However, where lab 2 used visuals to define trends, this lab will use statistical tests to define probablitlity values in order to accept or reject null hypothesis of a significant relationship between price and / or property type.

## Part 1: Review of Statistical Tests

*From the lab document*

"Let's say that you decide you want to know if playing video games impacts students'
grades. You set up a survey which asks students two questions:
1. Do you play video games regularly? Yes / no
2. What is your GPA?"

**Hypothesis: If a student regularly plays video games, their GPA will be negatively impacted.**

**Null Hypothesis: If a student regularly plays video games, their average GPA will not be effected.**
**Alternative Hypothesis: If a student regularly plays video games, their GPA will be lower than those who do not regularly play video games.**

*From the lab document*

"68 students said they play video games regularly, while 32 students said they did not. The 68 gamers
have an average GPA of 3.4 with a standard deviation of 1.2, while the 32 non-gamers
have an average GPA of 3.3 with a standard deviation of 1.1."

#### Two sample t-Tests

Two sample t-tests are used when a data set has one nomial variable and one measurement variable. Two variable t tests are accurate when the sample set is either small (50 and below) and normally distributed or larger and *fairly* normalized. Samples that are small and non-normal will produce conciderably more false positives. Additionally, the t-test results will be sensitive to heteroscedasticity if the two groups have unbalanced sample sizes and the smaller sample size has a larger standard deviation. Heteroscedasticity will lead to a greater number false postive results.

The survey results are skewed towards those who play video games 68-32, and the smaller group of non-gamers has a smaller standard deviation than the gamers, 1.1 vs 1.2. Since the larger sample group has the higher std. deviaion and the sample is large enough (100 entries), the unequal sample distribution will have negliable impact on the results of the t-test.

**Null Hypothesis: If a student regularly plays video games, their average GPA will not be affected.**

**Alternative Hypothesis: If a student regularly plays video games, their GPA will be lower than those who do not regularly play video games.**

#### Conducting the Two Sample t-Test

The Two sample t-test will be conductd on the survey data above using the scipy.stats.ttest_ind_from_stats method.

In [1]:
from scipy.stats import ttest_ind_from_stats

In [2]:
(statistic, pval) = ttest_ind_from_stats(3.4, 1.2, 68, 3.3, 1.1, 32)
print("statistic: " + str(statistic))
print("P-value: " + str(pval))

statistic: 0.39893881176878243
P-value: 0.6908062583072547

The t-test resulted in a statistic value of 0.399 and a P value of 0.690. This means there is a 69% chance of getting a result more extreme than 0.399 if the null hypothesis was true. Given that the threshold to reject the null hypothesis is 0.01, this means it is likley to obtain a result within the null value given there is no effect within the two samples. Applied to the survey data, this means that there is no significant difference between the GPA of students who play video games and those who do not.

## Part 2: Exploring Additional Statistical Tests
This section explores 3 more statistical tests. Each test analysis will include variables types, assumptions, null and alternative hypotheses, and statistical significance analysis.

#### Pearsons Corelation
Used to detirmine the relationship between two measurement variables. For example, Speed and Pulse. biostathandbook.com states "There's also one nominal variable that keeps the two measurements together in pairs, such as the name of an individual organism, experimental trial, or location. I'm not aware that anyone else considers this nominal variable to be part of correlation and regression, and it's not something you need to know the value of".

This test can either tell a cause an effect relationship between two variables such as drug dosage and blood pressure (Does a higher dosage cause a higher blood pressure?), or simpily infer association without causation, (a change in X causes a chang in Y, or a shift in Z effects both X & Y). The association strength is measured in r^2. A higher r^2 value indicates a stronger association between the two variables. The r^2 value is always between 0 and 1, with 0 indicating no association and 1 indicating a perfect association. In a visual sense, the "tightness" of a linear regression line is a good indicator of the r^2 value. A very tight line indicates a strong association, while a loose line indicates a weak association.


<img src="http://www.biostathandbook.com/pix/rangersquared.gif"
     alt="Markdown Monster icon"
     style="float: center: 10px;" />

A null hypothesis for a pearsons correlation test would be "There is no association between X and Y". The alternative hypothesis would be "A change in X *causes* the change in Y.

One can assume that X an Y will be normally distributed and homoscedastic. However, biostathandbook.com states "you will rarely have enough data to test these assumptions, they are often violated". Additionally, the test assumes a linear relationship, if there is a curve in the graph, the test will not be accurate.

The P value gives you the probability of finding a slope that is larger than the observed slope, under the null hypothesis that the true slope is 0. If the test does not indicate any statistical significance, one can conclude that X and Y have no association. If the P value is less than 0.05, one can conclude that there is a statistically significant association between X and Y.

#### Kruskal-Wallis Test
Used to measure if the mean ranks are the same within all nominal groups when testing with one ranked and one nominal variable.
All data in the groups are ranked by value, then the average of those ranks are calculated and compared per each group.

The null hypthosis of the Wallis test is that the samples come from populations with the same distribution (the mean ranks are the same). The alternative hypothesis is that the samples come from populations with different distributions (and the mean ranks are not the same). Groups can have idenical means and medians but have different mean ranks. 

One big advantage of this test is that it does not assume the data is normally distributed, however if the distributions are heteroscedastic, the test will not be helpful. Additionally, this test does assume that the different groups have the same distribution, and groups with different standard deviations have different distributions.

If the test concludes that the rank means are the same with a small P value, it can be said that the groups have the same sample distrubution and not one group is generally "higher" or "lower" than the others.

#### Chi-Squared Test
The chi-square test is used to determine whether there is a significant difference between the expected frequencies and the observed frequencies in one or more categories. This test is used when there is one nominal variable with two or more values (I.E. red, white and pink flowers). You compare the observed counts of observations in each category with the expected counts, which you calculate using some kind of theoretical expectation.

The null hypothesis is that the number of observations in each category is the same to that predicted by some therory. The alternative hypothesis is that the observed numbers are different from the expected. Biostathandbook.com uses the example of "looking at an area of shore that had 59% of the area covered in sand, 28% mud and 13% rocks; if you were investigating where seagulls like to stand, your null hypothesis would be that 59% of the seagulls were standing on sand, 28% on mud and 13% on rocks." 

This test assumes indipendence.

The larger the deviation from the null hypothesis, the larger the difference between observed and expected result is. If there is a small devation from the null hypothesis, the original prediction was close to the observed results. If the deviation is large, the observed results are far from the expected results.

## Part 3: Regression on Price
This section of the program will see which continuous and categorical variables are predictive of price using linear regression or Kruskal-Wallis tests.

In [3]:
import pandas as pd
import scipy.stats as stats

In [4]:
df = pd.read_csv("clean_cali_housing.csv")
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude,empty_lot,street_type
0,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028,False,Court
1,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839,False,Street
2,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146,False,Way
3,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768,False,Drive
4,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813,False,Court

In [5]:
df.astype({'city': 'category'})
df.astype({'state': 'category'})
df.astype({'zip': 'category'})
df.astype({'beds': 'category'})
df.astype({'baths': 'category'})
df.astype({'type': 'category'})
df.astype({'street_type' : 'category'})
df.astype({'empty_lot' : 'category'})

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude,empty_lot,street_type
0,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028,False,Court
1,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839,False,Street
2,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146,False,Way
3,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768,False,Drive
4,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813,False,Court
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620,False,Court
979,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890,False,Way
980,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803,False,Way
981,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424,False,Way
982,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915,False,Lane

### Continuous Variables with Linear Regression
Using the scipy.stats.linregress() method, each continuous variable will be tested against price to see if there is a linear relationship between the two variables. The null hypothesis is that there is no linear relationship between the two variables. The alternative hypothesis is that there is a linear relationship between the two variables.

Tables will be made for both continuous and categorical variables. The tables will include the variable name, the P value and a boolean indicating a statistically significant relationship between it and the measurement variable (a = 0.01).

In [6]:
stat_table = pd.DataFrame(columns=['Variable', 'Pvalue', 'Stat Significant'])

#### Sqaure Feet Vs Price

In [7]:
slope, intercept, r, p, stderr = stats.linregress(df["price"], df["sq__ft"])
stat_table.loc[len(stat_table.index)] = ['sq__ft', p, p < 0.01] 
stat_table.head(5)

  Variable        Pvalue  Stat Significant
0   sq__ft  4.171932e-27              True

#### Latitude Vs Price

In [8]:
slope, intercept, r, p, stderr = stats.linregress(df["price"], df["latitude"])
stat_table.loc[len(stat_table.index)] = ['latitude', p, p < 0.01] 
stat_table.head(5)

   Variable        Pvalue  Stat Significant
0    sq__ft  4.171932e-27              True
1  latitude  2.163252e-01             False

#### Longitude Vs Price

In [9]:
slope, intercept, r, p, stderr = stats.linregress(df["price"], df["longitude"])
stat_table.loc[len(stat_table.index)] = ['longitude', p, p < 0.01] 
stat_table.head(5)

    Variable        Pvalue  Stat Significant
0     sq__ft  4.171932e-27              True
1   latitude  2.163252e-01             False
2  longitude  8.742930e-20              True

While it is expected that the square feet of a house would have a linear relationship with the price of the house, it is surprising that the longitude (and more spesifically **not** the latitude) of the house also have a linear relationship with the price. This could be due to the fact that houses in certain areas are more expensive than others, or that houses in certain areas are larger than others. However, this does not garentee caustion between longitude and price.

### Categorical Variables with Kruskal-Wallis Tests
These tests aim to see if the distribution of prices for each categorical "group" is different from the distribution of the other groups.

In [10]:
stat_table_cat = pd.DataFrame(columns=['Variable', 'Pvalue', 'Stat Significant'])

#### Zipcode Vs Price

*The following code will be used for each categorical variable. First, the prices will be selected for each property type, then the kruskal test will be conducted, and the results will be added to the table.*

In [11]:
samples_by_group = []
for value in set(df["zip"]):
    mask = df["zip"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Zipcode', p, p < 0.01] 
stat_table_cat.head(5)

  Variable        Pvalue  Stat Significant
0  Zipcode  4.416118e-65              True

#### Beds vs Price

In [12]:
samples_by_group = []
for value in set(df["beds"]):
    mask = df["beds"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Beds', p, p < 0.01] 
stat_table_cat.head(5)

  Variable        Pvalue  Stat Significant
0  Zipcode  4.416118e-65              True
1     Beds  1.404914e-37              True

#### Baths vs Price

In [13]:
samples_by_group = []
for value in set(df["baths"]):
    mask = df["baths"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Baths', p, p < 0.01] 
stat_table_cat.head(5)

  Variable        Pvalue  Stat Significant
0  Zipcode  4.416118e-65              True
1     Beds  1.404914e-37              True
2    Baths  1.743584e-50              True

#### Property Type vs Price

In [14]:
samples_by_group = []
for value in set(df["type"]):
    mask = df["type"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Type', p, p < 0.01] 
stat_table_cat.head(5)

  Variable        Pvalue  Stat Significant
0  Zipcode  4.416118e-65              True
1     Beds  1.404914e-37              True
2    Baths  1.743584e-50              True
3     Type  2.904115e-07              True

#### City vs Price

In [15]:
samples_by_group = []
for value in set(df["city"]):
    mask = df["city"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['City', p, p < 0.01] 
stat_table_cat.head(5)

  Variable        Pvalue  Stat Significant
0  Zipcode  4.416118e-65              True
1     Beds  1.404914e-37              True
2    Baths  1.743584e-50              True
3     Type  2.904115e-07              True
4     City  4.599332e-49              True

#### Street Type vs Price

In [16]:
samples_by_group = []
for value in set(df["street_type"]):
    mask = df["street_type"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Street Type', p, p < 0.01] 
stat_table_cat.head(6)

      Variable        Pvalue  Stat Significant
0      Zipcode  4.416118e-65              True
1         Beds  1.404914e-37              True
2        Baths  1.743584e-50              True
3         Type  2.904115e-07              True
4         City  4.599332e-49              True
5  Street Type  5.682550e-23              True

#### Empty Lot vs Price

In [17]:
samples_by_group = []
for value in set(df["empty_lot"]):
    mask = df["empty_lot"] == value
    samples_by_group.append(df["price"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_cat.loc[len(stat_table_cat.index)] = ['Empty Lot', p, p < 0.01] 
stat_table_cat.head(7)

      Variable        Pvalue  Stat Significant
0      Zipcode  4.416118e-65              True
1         Beds  1.404914e-37              True
2        Baths  1.743584e-50              True
3         Type  2.904115e-07              True
4         City  4.599332e-49              True
5  Street Type  5.682550e-23              True
6    Empty Lot  4.351730e-02             False

In [18]:
stat_table.head(10)

    Variable        Pvalue  Stat Significant
0     sq__ft  4.171932e-27              True
1   latitude  2.163252e-01             False
2  longitude  8.742930e-20              True

Comparing the predictiveness of categorical variables in respect to these tests and the visualizations in lab 2, it is obvious I was more refrained from calling varibles predictive in lab 2. The table above shows that all the variables except empty lot are predictive of price. However in lab 2, I only said beds and baths were predictive of price. The most intresting observation from this is that while the two categorical variables I said were predictive (beds and baths) had the second and fourth lowest p value, zipcode and city held the first and third lowest p value. Thus, I missed two of the most predictive variables in my analysis of lab 2. 

In repect to the continous variables, I said that all the varibles (longitude, latitude, and square feet) were predictive of price. However, the linear regression tests ahow taht latitude is not predictive. Comparing the latitude and longitude vs price graphs in lab 2, one can see that the longitude vs price graph is much more linear than the latitude vs price graph. This is likely why the linear regression test shows that longitude is predictive of price, while latitude is not.

## Part 4: Classification on Property Type

This part will explore which varibles are predictive of property type using Kruskal Wallis and Chi-Squared tests.

### Continious Variables with Kruskal Wallis Tests

In [19]:
stat_table_2 = pd.DataFrame(columns=['Variable', 'Pvalue', 'Stat Significant'])

#### Price vs Type

In [20]:
samples_by_group = []
for value in set(df["price"]):
    mask = df["price"] == value
    samples_by_group.append(df["type"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_2.loc[len(stat_table_2.index)] = ['Price', p, p < 0.01] 
stat_table_2.head(5)

  Variable    Pvalue  Stat Significant
0    Price  0.012041             False

#### Sqaure Feet vs Type

In [21]:
samples_by_group = []
for value in set(df["sq__ft"]):
    mask = df["sq__ft"] == value
    samples_by_group.append(df["type"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_2.loc[len(stat_table_2.index)] = ['Sqft', p, p < 0.01] 
stat_table_2.head(5)

  Variable    Pvalue  Stat Significant
0    Price  0.012041             False
1     Sqft  0.039424             False

#### Longitude vs Type

In [22]:
samples_by_group = []
for value in set(df["longitude"]):
    mask = df["longitude"] == value
    samples_by_group.append(df["type"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_2.loc[len(stat_table_2.index)] = ['Longitude', p, p < 0.01] 
stat_table_2.head(5)

    Variable    Pvalue  Stat Significant
0      Price  0.012041             False
1       Sqft  0.039424             False
2  Longitude  0.404931             False

#### Latitude vs Type

In [23]:
samples_by_group = []
for value in set(df["latitude"]):
    mask = df["latitude"] == value
    samples_by_group.append(df["type"][mask])

stat, p = stats.kruskal(*samples_by_group)

stat_table_2.loc[len(stat_table_2.index)] = ['Latitude', p, p < 0.01] 
stat_table_2.head(5)

    Variable    Pvalue  Stat Significant
0      Price  0.012041             False
1       Sqft  0.039424             False
2  Longitude  0.404931             False
3   Latitude  0.353024             False

### Categorical Variables with Chi-Squared Tests

In [24]:
stat_table_3 = pd.DataFrame(columns=['Variable', 'Pvalue', 'Stat Significant'])

#### City Vs Type

In [25]:
combination_counts = pd.crosstab(df["city"], df["type"])
chi2, p, _, _ = stats.chi2_contingency(combination_counts)

stat_table_3.loc[len(stat_table_3.index)] = ['City', p, p < 0.01] 
stat_table_3.head(5)

  Variable   Pvalue  Stat Significant
0     City  0.96912             False

#### Zipcode vs Type

In [26]:
combination_counts = pd.crosstab(df["zip"], df["type"])
chi2, p, _, _ = stats.chi2_contingency(combination_counts)

stat_table_3.loc[len(stat_table_3.index)] = ['Zip', p, p < 0.01] 
stat_table_3.head(5)

  Variable    Pvalue  Stat Significant
0     City  0.969120             False
1      Zip  0.000112              True

#### Beds vs Type

In [27]:
combination_counts = pd.crosstab(df["beds"], df["type"])
chi2, p, _, _ = stats.chi2_contingency(combination_counts)

stat_table_3.loc[len(stat_table_3.index)] = ['Beds', p, p < 0.01] 
stat_table_3.head(5)

  Variable        Pvalue  Stat Significant
0     City  9.691204e-01             False
1      Zip  1.123314e-04              True
2     Beds  1.375212e-67              True

#### Baths vs Type

In [28]:
combination_counts = pd.crosstab(df["baths"], df["type"])
chi2, p, _, _ = stats.chi2_contingency(combination_counts)

stat_table_3.loc[len(stat_table_3.index)] = ['Baths', p, p < 0.01] 
stat_table_3.head(5)

  Variable        Pvalue  Stat Significant
0     City  9.691204e-01             False
1      Zip  1.123314e-04              True
2     Beds  1.375212e-67              True
3    Baths  6.178041e-43              True

#### Street Type vs Type

In [29]:
combination_counts = pd.crosstab(df["street_type"], df["type"])
chi2, p, _, _ = stats.chi2_contingency(combination_counts)

stat_table_3.loc[len(stat_table_3.index)] = ['Street Type', p, p < 0.01] 
stat_table_3.head(5)

      Variable        Pvalue  Stat Significant
0         City  9.691204e-01             False
1          Zip  1.123314e-04              True
2         Beds  1.375212e-67              True
3        Baths  6.178041e-43              True
4  Street Type  5.527803e-19              True

### Analysis on Type Predictors

##### Continuous Variables

In [30]:
stat_table_2.head(10)

    Variable    Pvalue  Stat Significant
0      Price  0.012041             False
1       Sqft  0.039424             False
2  Longitude  0.404931             False
3   Latitude  0.353024             False

##### Categorical Variables

In [31]:
stat_table_3.head(10)

      Variable        Pvalue  Stat Significant
0         City  9.691204e-01             False
1          Zip  1.123314e-04              True
2         Beds  1.375212e-67              True
3        Baths  6.178041e-43              True
4  Street Type  5.527803e-19              True

Looking at these results next to conclusions in lab 2, I was not accurate in lab 2. In that lab, I said the best predictors of property type were zipcode, square feet, and beds. However, these tests conclude that square feet is not a predictor of property type. Beyond that, they also conclude that baths and street type are predictive of property type as well. These tests allow trends to be seen in way that they can not be visual charts and plots.

## Conclusion
This program aimed to summarize and apply various statistical relationship tests to discover which variables were predictive of price and property type. These tests discovered that all the varibles except latitude and empty lot are predictive of price and zipcode, beds, baths, and street type were predictive of property type.

If this program were to be expanded, doing more analysis on the statistical values would further increase understanding of how each variable compares to its predicted value.

In [37]:
samples_by_group = []
for value in set(df["zip"]):
    
    mask = df["zip"] == value
    samples_by_group.append(df["price"][mask])

In [40]:
print(samples_by_group[len(samples_by_group)-1])

99     263500
119    320000
120    320000
145    430000
307    425000
472    266000
502    331500
521    395100
787    313000
822    390000
824    396000
Name: price, dtype: int64